/* Lato Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* EB Garamond Font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Basic CSS Reset, Font Setups, Global, and Global CSS Variables */
*{
  margin: 0;
  box-sizing: border-box;

  /* EB Garamond Font Setup -> placed here for reference */
  font-family: 'EB Garamond', serif;

  /* Lato Font Setup -> placed here for reference */
  font-family: 'Lato', sans-serif; 

  /* Colors */
  --dark-color: #34495E;
  --light-color: white;
}


/* Default Styling for Mobile Devices */
.Mobile{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 1.5rem;

  background-color: var(--dark-color);
  color: var(--light-color);
}

