header {
  background-color: var(--dark-blue);
  color: white;
  height: var(--header-height);


  display: flex;
  align-items: center;


  padding-left: 20px;
}

.app-title {
  font-size: 1.20rem;
  font-weight: bold;
  margin-right: 20%;
}

.control-inputs{
  display: flex;
  justify-content: center;
  align-items: center;

}

#algo-selector,
#obstacle-pattern-selector,
#visualization-speed-selector{
  margin-right: 20px;
}


.control-inputs > select,
.control-inputs > button{
  height: var(--header-height);
  padding: 10px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 0.90rem;
  font-weight: bold;
  cursor: pointer;
}

.control-inputs > select:hover{
  color: var(--light-green);
}

.control-inputs>select:after {
  color: blue;
}

.control-inputs > select > option{
  color: black;
}

.control-inputs > button{
  height: calc(var(--header-height) - 10px);
  margin-right: 10px;
  border-radius: 5px;
}


#visualize-btn{
  background-color: var(--light-green);
}

#reset-board-btn {
  background-color: var(--dark-red);
}

#compare-algos-btn {
  background-color: var(--yellow);
}

#visualize-btn:active,
#reset-board-btn:active,
#compare-algos-btn:active {
  background-color: var(--dark-blue);
}



