.legend-and-message-area {
  height: 12vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.15rem;

  margin-bottom: 1vh;
  background-color: lightyellow;
}

.legend, .message-area{
  display: flex;
  align-items: center;
  justify-content: center;
}
