.legend-and-message-area {
  height: 12vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.05rem;

  margin-bottom: 1vh;
  color: white;
}

.legend, .message-area{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.legend{
  margin-bottom: 15px;
  background-color: rgb(160, 160, 87);
  color: white;
}
