
.animating-visited-cells{
  /* background-color: var(--light-green); */
  background-color: #40CEE3;
  transition: all 0.1s ease-in-out 0.25s;
  /*transition duration here will have to be faster(less time, sprinter) than time set in script*/
}


.animating-shortest-path{
  /* background-color: var(--yellow); */
  background-color: #FFFE6A;
  transition: all 0.1s ease-in-out 0.25s;
  /*transition duration here will have to be faster(less time, sprinter) than time set in script*/
}



