.world-grid-container {
  height: 80vh;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

}


.world-grid{
  display: grid;
}

.grid-item{
  border: solid 0.1px lightblue;
  height: 30px;
  width: 30px;


  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  background-color: var(--dark-blue);
}
